.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: solid #F2F2F2;
  border-top: 1px;
  border-left: 1px;
  border-bottom: 1px;
}

.main-page{
  height: 100vh;
  width: 100vw;
}

.side-group{
  position: absolute;
  top: 10%;
  padding: 3%;
  height: 100vh;
}

.side-items{
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

.logo{
  width: 70%;
  padding-bottom: 25%;
}

.logo-position{
  position: absolute;
  top: 7%;
  left: 15%;
}

.slide-icon{
  color: grey;
  padding-right: 5%; 
}

.nav-link{
  color: grey;
}

.search-box{
  display: flex;
  justify-content: center; /* y-axis */
  align-items: center; /* x-axis */
  height: 25vh;
}
 
.database{
  height: 75vh;
}

thead{
  background-color: #DEEBF7;
  color: #378CC6;
}

/*upload button*/
input[type="file"] {
  display: none;
  opacity: 0;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}